<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Transaction Cancelled!</h2>
        <br />
        <br />
        <img src="~/images/fail-stamp.png" width="50%"/>
    </div>
    <h3 class="col-12 text center" style="color:darkred"
    <br />
    <br />
    <br />
    <br />
    Please try again. 
    <br />
    </h3>
</div>
