@using MangaShop.Data.Enum;
@model MangaShop.Models.Manga
@using static MangaShop.Data.Enum.MangaCategory;
@using static MangaShop.Data.Enum.Genre;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Manga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolumeImage" class="control-label"></label>
                <input asp-for="VolumeImage" class="form-control" />
                <span asp-validation-for="VolumeImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MangaCategory" class="control-label"></label>
                <select asp-for="MangaCategory" class="form-control" asp-items="Html.GetEnumSelectList<MangaCategory>()">
                    <option value="">Please choose category</option>
                </select>
                <span asp-validation-for="MangaCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<Genre>()">
                    <option value="">Please choose category</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatePublished" class="control-label"></label>
                <input asp-for="DatePublished" class="form-control" />
                <span asp-validation-for="DatePublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
